<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/assets/css/mainProfile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="/assets/images/candle-light-flame-memorial-512-122x122.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="/assets/theme/css/style.css">
    <link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
    <!------ Include the above in your HEAD tag ---------->
</head>
<body>
<section class="menu cid-qP9YsagkPN" once="menu" id="menu1-12">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="landing">
                         <img src="/assets/images/candle-light-flame-memorial-512-122x122.png" alt="Mobirise" title="" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="createMemorial">
                        Always Together</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white display-4" href="aboutus">
                <span class="mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                About Us
            </a></li>
                <li class="nav-item"><a class="nav-link link text-white display-4" href="/blog?id=<%= profileID%>">Stories</a></li>
                <li class="nav-item"><a class="nav-link link text-white display-4" href="/profile?id=<%= profileID %>">Profile</a></li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="landing">Logout</a></div>
        </div>
    </nav>
</section>

<div class="container-fluid">
    <div class="row">
        <div class="fb-profile">
            <img align="left" class="fb-image-lg" src="/assets/images/1.jpg" alt="Profile image example"/>
            <img align="left" class="fb-image-profile thumbnail" src="https://bootdey.com/img/Content/user-453533-fdadfd.png" alt="Profile image example"/>
            <div class="fb-profile-text">
                <h1><%=memorial.personName%></h1>

            </div>
        </div>
    </div>
</div> <!-- /container fluid-->
<div class="container row">
    <div class="col-sm-8">
        <div data-spy="scroll" class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li>
                        <a href="#tab_default_1" data-toggle="tab">
                            About Yourself </a>
                    </li>
                    <li>
                        <a href="#tab_default_2" data-toggle="tab">
                            Education And Career</a>
                    </li>
                    <li>
                        <a href="#tab_default_3" data-toggle="tab">
                            Beloved One</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_default_1">
                        <p>
                            <%=memorial.about%>
                        </p>
                        <h4>About Your Family</h4>
                        <p>
                            <%=memorial.aboutFamily%>
                        </p>
                    </div>
                    <div class="tab-pane" id="tab_default_2">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label>Highest Education:</label>
                                    <p><%=memorial.highestEducation%></p>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Achievement in Career:</label>
                                    <p><%=memorial.achievementInCareer%></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_default_3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Name:</label>
                                    <%=memorial.lovedOne%>
                                </div>

                                <div class="form-group">
                                    <label>Best moment(s) with him/her:</label>
                                    <p><%=memorial.story%></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="menu_title">
                Information
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label >Age:</label> <%=memorial.age%>
                        </div>
                        <div class="form-group">
                            <label >Gender:</label> <%=memorial.gender%>
                        </div>
                        <div class="form-group">
                            <label >Date of Birth:</label> <%=memorial.birthday%>
                        </div>
                        <div class="form-group">
                            <label >Life Motto:</label> <%=memorial.motto%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class= 'photoAlbum col-sm-4'>
                <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-camera-128.png">
                <div>
                    <a class= 'imagegallery' href="imagegallery">Photo Album</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="cid-qPqIreICzJ" id="footer1-1g">
    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="landing">
                        <img src="/assets/images/candle-light-flame-memorial-512-192x192.png" alt="Mobirise" title="">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Address
                </h5>
                <p class="mbr-text">
                    1234 Street Name
                    <br>City, AA 99999
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Contacts
                </h5>
                <p class="mbr-text">
                    Email: xxx@gmail.com &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>Phone: +1 (0) 000 0000 001
                    <br>Fax: +1 (0) 000 0000 002
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3"></h5>
                <p class="mbr-text"></p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2018 Always Together - All Rights Reserved
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">

                            <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon"></span>

                        </div>
                        <div class="soc-item">
                            <a href="https://www.facebook.com/" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://instagram.com" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://plus.google.com/" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-googleplus socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.behance.net" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-behance socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="/assets/web/assets/jquery/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/dropdown/js/script.min.js"></script>
<script src="/assets/theme/js/script.js"></script>

</body>
</html>